<div class="container chatbot" data-controller="chat-ai">
  <h1>Latinha responde:</h1>
  <div id="questions" data-chat-ai-target="questions">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>
