<div class="container chatbot" data-controller="chat-ai">
  <div class="chat-header">
    <%= image_tag "logoia.png", alt: "Logo Latinha", class: "chat-logo" %>
    <h1>Latinha Responde</h1>
  </div>
  <div id="questions" data-chat-ai-target="questions">
    <%= render @questions %>
  </div>
  <%= render "form", question: @question %>
</div>
