
<div class="container">
    <h1>Todos os Fóruns</h1>

  <div class="tubo">
    <% if @forums.any? %>
      <ul class="count">
        <% @forums.each do |forum| %>
          <li class="card">
            <strong><%= link_to forum.title, forum_path(forum), class: "link-list" %></strong>
            <p><%= forum.content.truncate(100) %></p>
            <p>Autor: <%= forum.user.email.match(/([^@]+)@/)[1] %></p>
            <p>Artigo relacionado: <strong> <%= link_to forum.article.name, article_path(forum.article), class: "link-list" %></strong></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Nenhum fórum foi criado ainda.</p>
    <% end %>
  </div>
</div>