.search-page {
  background-color: #122738; // Fundo suave
  padding: 20px; // Espaçamento interno
  border-radius: 8px; // Bordas arredondadas
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra suave
  display: flex; // Usar flexbox para centralizar
  flex-direction: column; // Direção da coluna
  align-items: center; // Centralizar horizontalmente

  h2 {
    margin-top: 20px;
    font-family: $headers-font;
    font-size: 3rem;
    color: transparent;
    background: linear-gradient(90deg, #ffc600, #36c90f, #ff0088);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px $yellow;
    background-clip: text;
    text-shadow: 0 2px 4px rgba(255, 102, 0, 0.836), 0 4px 6px rgba(255, 0, 136, 0.726), 0px -2px 5px rgba(255, 198, 0, 0.7);
    position: relative;
  }
  h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 400px;
    height: 4px;
    background: linear-gradient(90deg, $green, $sky_blue);
  }

  h3 {
    font-family: $body-font; // Fonte dos subtítulos
    font-size: 2rem; // Tamanho dos subtítulos
    color: #122738; // Cor dos subtítulos
    margin-top: 20px; // Espaçamento acima
    width: 100%; // Para que o título ocupe toda a largura
    display: flex; // Usar flexbox para alinhar o título e o botão
    justify-content: space-between; // Espaçar o título e o botão
    align-items: center; // Alinhar verticalmente
  }

  ul {
    list-style-type: none; // Remover marcadores
    padding: 0; // Remover padding padrão
    width: 100%; // Para que a lista ocupe toda a largura
  }

  li {
    background-color: $blue-dark; // Fundo dos itens
    color: $gainsboro;
    margin: 10px 0; // Espaçamento entre itens
    padding: 15px; // Espaçamento interno
    border-radius: 5px; // Bordas arredondadas
    box-shadow: 0 4px 8px $green; // Sombra suave
    transition: transform 0.3s, box-shadow 0.3s; // Efeito de transição
    display: flex; // Usar flexbox para alinhar o texto e o botão
    justify-content: space-between; // Espaçar o texto e o botão
    align-items: center; // Alinhar verticalmente
    height: 60px; // Defina uma altura fixa para centralizar verticalmente

    &:hover {
      transform: translateY(-5px); // Efeito de elevação ao passar o mouse
      box-shadow: 0 6px 12px $secondary; // Sombra ao passar o mouse
    }

    display: flex; // Usar flexbox para alinhar o texto e o botão
    justify-content: space-between; // Espaçar o texto e o botão
    align-items: center; // Alinhar verticalmente
  }

  a {
    display: inline-block; // Para que o link se comporte como um botão
    padding: 10px 15px; // Espaçamento interno do botão
    background: $light-blue; // Cor de fundo do botão
    color: $blue-dark; // Cor do texto do botão
    text-decoration: none; // Remover sublinhado
    border-radius: 5px; // Bordas arredondadas
    transition: transform 0.3s ease; // Efeito de transição

    &:hover {
      background: $sky_blue; // Cor do botão ao passar o mouse
      transform: translateY(-2px); // Efeito de elevação ao passar o mouse
    }
  }

  .search-container {
    flex: 1;
    margin: 20px auto 40px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background: $gainsboro;
    border-radius: 15px;
    box-shadow: 0 4px 15px $yellow;
    border: 2px solid $blue-dark;
    overflow-y: auto; /* Scroll caso os itens ultrapassem a altura */
    max-height: 500px; /* Altura máxima para ativar o scroll */

    &::-webkit-scrollbar {
      width: 10px; /* Largura do scrollbar */
      background-color: $gainsboro; /* Cor do fundo do scrollbar */
      border-radius: 25px;
      margin: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-dark; /* Cor da parte que desliza */
      border-radius: 25px; /* Deixa arredondado */
      border: 2px solid $blue-dark; /* Contorno da parte que desliza */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: lighten($sky_blue, 10%); /* Cor mais clara ao passar o mouse */
    }

    &::-webkit-scrollbar-track {
      background-color: darken($blue-dark, 10%); /* Fundo do track */
      border-radius: 25px; /* Arredondamento do track */
      margin: 50px;
    }

  }
}
