.term-show-page {
  padding: 30px;
  color: $gainsboro;
  text-align: center;

  .header {
    margin-bottom: 30px;

    h2 {
      font-size: 2.5rem;
      color: $gainsboro;
      text-shadow: 0 4px 4px $black, 0 4px 4px $lime;
      margin-bottom: 20px;
    }
  }

  .description-container {
    background: $gainsboro;
    color: $nero;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto 30px auto;

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;

    .btn-back {
      text-decoration: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    .btn-back {
      background: $persian-indigo;
      color: $lime;

      &:hover {
        background: lighten($persian-indigo, 10%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
