.term-show-page {
  padding: 30px;
  color: $gainsboro;
  align-items: center;

  .header {
    margin-bottom: 30px;

    h2 {
      font-family: $body-font;
      font-size: 2.5rem;
      color: transparent;
      background: linear-gradient(90deg, #4cb5f1, #02609e, $tertiary);
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px #015bb0;
      background-clip: text;
      text-shadow: 0 2px 4px rgba(51, 147, 226, 0.836), 0 4px 6px rgba(255, 255, 255, 0.726), 0px -2px 5px rgba(69, 168, 224, 0.7);
    }
  }

  .description-container {
    background: $gainsboro;
    color: $secondary;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto 30px auto;

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;

    .btn-back {
      text-decoration: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    .btn-back {
      background: $secondary;
      color: $highlight;

      &:hover {
        background: lighten($secondary, 10%);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80vh;
}


html,
body {
  height: 100%; /* Garante que o corpo ocupe 100% do viewport */
  margin: 0; /* Remove margens padrão */
  display: flex;
  flex-direction: column; /* Alinha os elementos em coluna */
}

.related-articles {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: $gainsboro;
  border: 1px solid $tertiary;
  border-radius: 8px;
}

.related-articles h3 {
  font-family: $body-font;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: $secondary;
}

.related-articles .article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.related-articles .article-item {
  margin-bottom: 20px;
}

.related-articles p {
  color: $secondary;
}

.related-articles .article-link {
  font-family: $body-font;
  font-weight: bold;
  color: $tertiary;
  text-decoration: none;
}

.related-articles .article-link:hover {
  text-decoration: underline;
}

.related-articles p {
  margin: 5px 0 0;
  color: #555;
}
