// Define variables for your color scheme

// For example:
$black: #121212;
$lime: #05E900;
$gainsboro: #E0E0E0;
$persian-indigo: #401280;
$midnight-express: #14163F;
$nero: #252525;
$palatine-purple: #550D4E;
