// Define variables for your color scheme

// For example:
// $primary: #DFF2EB;
// $secondary: #4A628A;
// $tertiary: #7AB2D3;
// $highlight: #B9E5E8;

$gainsboro: #E0E0E0;
$blue: #193549;
$blue-highlight: #1F4662;
$blue-highlight-two: #234E6D;
$blue-dark:  #122738;
$light-blue: #CAD8E5;
$sky_blue: #8AE4E1;
$yellow: #ffc600;
$hot-pink: #ff0088;
$blush-pink: #ff628c;
$orange: #ff6600;
$green: #36c90f;
$lilac: #c67dcf;
