.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue-dark;
  color: $light-blue;
  height: 100vh;

  .logo-container {
    .logo {
      width: 350px;
      height: auto;
      margin-bottom: 20px;
    }
  }

  .text-lime {
    color: $blue-highlight-two;
    -webkit-text-stroke: 1px $green;

  }

  .search-bar {
    width: 80%;
    max-width: 600px;

    input {
    border: 2px solid $blue-dark;
    background-color: $gainsboro;
    color: $blue-dark;
    box-shadow: 0 4px 15px $yellow;
    border-radius: 20px;
    padding: 10px;


    &::placeholder {
      color: $blue-dark;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
  }
}
