<div class="terms-page">
  <div class="header">
    <i class="fa-solid fa-list"></i>
    <h1>TERMS</h1>
  </div>

  <div class="search-bar">
    <form action="<%= terms_path %>" method="get">
      <input type="text" name="query" placeholder="Search..." class="search-input" />
    </form>
  </div>

<div class="terms-container">
  <div class="terms-list">
    <% @terms.each do |term| %>
      <div class="term-item">
        <%= link_to term.name, term_path(term), class: "term-link" %>
      </div>
    <% end %>
  </div>
</div>
