<div class="term-show-page">
  <div class="header">
    <h2><%= @term.name %></h2>
  </div>

  <div class="description-container">
    <p><%= @term.description %></p>
  </div>

  <div class="actions">
    <%= link_to 'Back', terms_path, class: "btn-back" %>
  </div>
</div>
