.new-forum-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $blue-dark;
  color: $gainsboro;

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: $headers-font;

    .article-name {
      color: $yellow;
    }
  }

  .form-container {
    background: $blue-highlight;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      label {
        font-size: 1rem;
        color: $light-blue; 
        margin-bottom: 5px;
      }

      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px 15px;
        font-size: 1rem;
        color: $blue-dark;
        background-color: $gainsboro;
        border: 2px solid $blue-highlight-two;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:focus {
          outline: none;
          border-color: $yellow;
          box-shadow: 0 0 10px $yellow;
        }
      }

      textarea {
        resize: vertical;
        height: 120px;
      }

      .form-submit {
        display: flex;
        justify-content: center;

        input[type="submit"] {
          background: linear-gradient(90deg, $yellow, $orange);
          color: $blue-dark;
          font-size: 1rem;
          padding: 10px 20px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;
          box-shadow: 0px 4px 10px rgba(255, 198, 0, 0.7);
          transition: transform 0.2s, box-shadow 0.2s;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0px 6px 15px rgba(255, 198, 0, 1);
          }
        }
      }
    }
  }
}
