<div class="footer">
  <div class="footer-links">
    <a class="git-bia" href="https://github.com/bezoc">Beatriz<i class="fab fa-github"></i></a>
    <a class= "git-douglas" href="https://github.com/DouglasTpo">Douglas<i class="fab fa-github"></i></a>
    <a class="git-henrique" href="https://github.com/henriqueamotta">Henrique<i class="fab fa-github"></i></a>
    <a class="git-yan" href="https://github.com/Yanbritto94">Yan<i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    &copy; 2024 Coding4Newbs | All rights reserved.
  </div>
</div>
