<div class="homepage">
  <div class="logo-container text-center mt-5">
    <div class="logo-wrapper">
      <%= image_tag "logo.png", alt: "Coding 4 Newbs Logo", class: "logo" %>
      <div class="speech-bubble">
        <%= "Olá! Eu sou o Latinha! Estou aqui para te ajudar com suas dúvidas!" %>
      </div>
    </div>
  </div>
  <h5 class="text-lime">Procure no C4N:</h5>
   <div class="search-bar terms-page">
    <form action="<%= terms_path %>" method="get">
      <input type="text" name="query" placeholder="Procurar..." class="search-input" />
    </form>
  </div>
</div>
