html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background: $blue-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  min-height: 100px;
  padding: 0px 50px;
  color: $light-blue;
  box-shadow: inset 0px 4px $orange;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $light-blue;
  text-decoration: none;
  font-size: 11px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}

.footer-links i {
  color: $light-blue;
  font-size: 24px;
  margin-left: 5px;
}

.footer-links .git-bia i {
  color: $green;
}

.footer-links .git-douglas i {
  color: $sky_blue;
}

.footer-links .git-henrique i {
  color: $orange;
}

.footer-links .git-yan i {
  color: $hot-pink;
}
