.signup-container {
    max-width: 400px; /* Limita a largura do formulário */
    margin: 50px auto;
    padding: 20px;
    border: 2px solid $blue-dark;
    border-radius: 10px;
    background-color: $blue-highlight-two;
    box-shadow: 0 4px 10px $green;
    text-align: center;

    .form-title {
      text-align: center;
      font-size: 2rem;
      color: $yellow;
      margin-bottom: 20px;
      text-shadow: 0 2px 5px $hot-pink;
      margin-bottom: 20px;
    }

    .fa-user-plus {
      font-size: 1.5rem;
      color: $blue-dark;
    }

    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $gainsboro;

      input {
        background-color: #E0E0E0;
        border: 2px solid $lilac;
        border-radius: 5px;
        color: $blue-dark;
        padding: 10px;
        font-size: 16px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.432);

        &:focus {
          border-color: $green;
          outline: none;
        }
      }
    }


    .links {
      text-align: center;
      margin-top: 10px;

      a {
        color: $yellow;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }


  .full-width-button {
    width: 40%;
    background-color: $light-blue;
    color: $blue-dark;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 4px 10px #14163F;
      color:$blue-dark
    }
  }
}
