.signup-container {
    max-width: 400px; /* Limita a largura do formulário */
    margin: 50px auto; /* Centraliza o formulário e adiciona espaçamento vertical */
    padding: 20px;
    border: 2px solid #550D4E; /* Borda verde */
    border-radius: 10px; /* Arredondamento */
    background-color: #E0E0E0; /* Fundo escuro */
    box-shadow: 0 4px 10px #14163F; /* Sombra roxa */
  
    .form-title {
      text-align: center;
      color: #252525;
      font-size: 2rem;
      text-shadow: 0 2px 5px #550D4E;
      margin-bottom: 20px;
    }
  
    .fa-user-plus {
      font-size: 1.5rem;
      color: #14163F;
    }
  
    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: #252525;
  
      input {
        background-color: #ffffff;
        border: 2px solid #14163F;
        color: #252525;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  
        &:focus {
          border-color: #05E900;
          outline: none;
        }
      }
    }
  
    .form-actions {
      text-align: center;
      margin-top: 20px;
      background-color: #252525;
  
      .btn-submit {
        background-color: #ffc300; /* Amarelo do botão */
        color: #512DA8; /* Texto roxo */
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: #ffdb4d;
          box-shadow: 0 4px 10px rgba(255, 195, 0, 0.6);
        }
      }
    }
  
    .links {
      text-align: center;
      margin-top: 10px;
  
      a {
        color: #14163F;
        text-decoration: none;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .full-width-button {
    display: block;          /* Faz o botão ocupar toda a largura */
    width: 100%;             /* Largura máxima */
    padding: 15px;           /* Ajuste de espaçamento */
    text-align: center;      /* Centraliza o texto no botão */
    border: none;            /* Remove bordas extras, se necessário */       /* Tamanho do texto */
    cursor: pointer;         /* Mostra o ícone de mão no hover */
  }
  